{% extends 'store/layouts/main.html' %}

{% block content %}

{% include 'store/inc/slider.html' %}

<div class="container mt-2 p-2">
    <div class="row mb-2">
        <h2 class="fw-bold">Trailer 2023</h2>
                    <div class="col-md-3">
                        <iframe width="260" height="250" src="https://www.youtube.com/embed/4xl9KfUg8Lc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-3">
                        <iframe width="260" height="250" src="https://www.youtube.com/embed/i4pjiLGUTtk?start=6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-3">
                        <iframe width="260" height="250" src="https://www.youtube.com/embed/rcM6VL_3EQo?start=7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-3">
                        <iframe width="260" height="250" src="https://www.youtube.com/embed/d2k4QAItiSA?start=7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <iframe width="260" height="250" src="https://www.youtube.com/embed/YJXqvnT_rsk?start=7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-md-3">
            <iframe width="260" height="250" src="https://www.youtube.com/embed/zL2BtTdIuLI?start=7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-md-3">
            <iframe width="260" height="250" src="https://www.youtube.com/embed/k5jfRCNVF1Q?start=7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-md-3">
            <iframe width="260" height="250" src="https://www.youtube.com/embed/KuC2S7CSKZg?start=7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>

{% endblock content %}

