{% extends 'store/layouts/main.html' %}

{% block content %}
<style>
    a{
        text-decoration:none;
        text-align:center;
    }
    .moviename{
        color:#900C3F;
        font-weight:bold;
        
    }
    .movie_image{
        width:100%;
        height:250px;
        margin-top:0px;
        padding:0 8px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>{{category.name}}</h2><hr>
            <div class="row">
                {% for item in movies %}
                <div class="col-md-3">
                    <div class="card mb-4 bg-warning">
                        <a href="{% url 'movieview' item.category.slug item.slug %}">
                            <div class="card-body">
                                <div class="category-image">
                                    <img src="{{item.movie_image.url}}" class="movie_image"/>
                                </div>    
                                <h4 class="moviename">{{item.name}}</h4>
                                <button class="btn btn-outline-primary float-end mb-3 "><i class="fa fa-eye" aria-hidden="true"></i> details</button>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}


