<style>
.footer{
	width:100%;
	text-align:center;
	padding:30px 0;	 
}
.footer h4{
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;

}
.icons .fa-facebook{
	color:#002EFF;
	margin:0 18px;
	cursor: pointer;
	padding: 18px 0; 
}
.fa-heart-o{
	color: #f44336;
}

.icons .fa-twitter{
	color:#07CAE9;
	margin:0 18px;
	cursor: pointer;
	padding: 18px 0; }

.icons .fa-instagram{
	color:#C13584;
	margin:0 18px;
	cursor: pointer;
	padding: 18px 0; }

.icons .fa-linkedin{
	color:#0A66C2;
	margin:0 18px;
	cursor: pointer;
	padding: 18px 0; }	

</style>
<section class="footer">
	<h4>About Us</h4>
	<p>Maecenas ut venenat is ex, et dapibus purus Donec sit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Pellentesque aliquet turpis mulla, eleifend faucibus est sollicitudin ut.</p>

	<div class="icons">
		<i class="fa fa-facebook"></i>
		<i class="fa fa-twitter"></i>
		<i class="fa fa-instagram"></i>
		<i class="fa fa-linkedin"></i>		
	</div>
	<p>Made with by<i class="fa fa-heart-o">Mohammad Towhid muhiuddin</i></p>
</section>